.offer {
  border-radius: 5px;
  border: 0px;
}

.offer-title {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 8px;
    padding: 4px 0;
    text-align: center;
}

.offer_link {
    color: black;
}

.offer-cover-image {
    overflow: hidden;
}

.offer-cover-image-button {
    text-align: right;
}

.offer-img {
    display: block;
    position: relative;
    margin: -10% -15% -30%;
    padding-top: 100%;
    background-position: center;
    background-size: cover;
}

.offer-organizer {
    text-align: right;
    margin: 8px 0 0;
}

li {
  padding: 0.75em 0.25em
}

.fas, .far {
  width: 14px;
  padding-right: 5px;
  color: #007BFF;
}

